body{
   
    
   background-image: url('./background.jpg');
    
   
}

.coffeeMenu{
  
    background-color: #102532;

    height: 540px;
    width: 400px;
    padding-left: 150px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 150px;
    }
 


.espresso p{
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tea p{
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
}
.iespresso p{ 
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
}

h1{
    color: aliceblue;
    font-size: 50px;
    line-height: 2px;
    font-style: italic;
}
.menu{
    color:#DC8832;
    font-size: 40px;
    line-height: 2px;
    padding-left:60px;
    margin-top: 2px;
    margin-bottom: 2px;
   

}
.h2{
    color: aliceblue;
background-color: #DC8832;
line-height: 35px;
max-width: 247px;
text-align: center;
font-size: 30px;
margin-bottom: 2px;
}

.type,.price{
    color: aliceblue;
    
    }


    